.panda-bg-info {
  background-color: #fceae8;
}
.panda-buy-btn {
  background-image: linear-gradient(#ff579a, #ff1771);
  color: #fff;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
#categories img {
  width: 100px;
}
#categories .category,
#shoes .card {
  border-radius: 10px;
}
#shoes .card,
#backpack .card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#subscribe {
  height: 400px;
}
#subscribe {
  border-radius: 10px;
}
#subscribe h1 {
  font-size: 25px;
}
#subscribe p {
  font-size: 14px;
  font-weight: bold;
  color: lightslategrey;
}
